---
import Box from "@elements/Box.astro";
interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props as Props;
---

<Box
  Element="footer"
  padding="5 4 3 2"
  surface="secondary"
  class={className}
  {...rest}
>
  <p>フッター</p>
</Box>
